.face{
    background-size: cover;
    background-position: center center;
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
}
.face-back{
    transform: rotateY(180deg);
}
#card{
    transform-style:preserve-3d;
}
#card:hover .face-front{
    transform: rotateY(-180deg);
}
#card:hover .face-back{
    transform: rotateY(0deg);
}

